<template name="Sign">
   <div class="flex-container flex-container-col">
      <div class="logo-container">
         <img class="logo" src="http://lorempixel.com/200/200/" alt="Logo">
      </div>

      <div class="login-buttons">
        <h3>Login</h3>
        <a href="#" class="button button-login button-facebook dark">
          <i class="fa fa-facebook-official"></i>
          Facebook
        </a>
        <a href="#" class="button button-login button-twitter dark">
          <i class="fa fa-twitter-square"></i>
          Twitter
        </a>    
      </div>
   </div>
</template>