.stream-words
  height 40px
  border 4px solid #ffffff
  p
    text-align center
    height 100%
    font-weight 400
    font-size 1.3rem
    line-height 2.3rem
    margin 0

  #word-section
    span
      margin-right 10px

  .current-word
    text-decoration underline

  .correct-word-c
    color #93C572

  .incorrect-word-c
    color #e50000

  .incorrect-word-bg
    background-color #e50000

  #typebox
    bottom 0
    position absolute