<template name="FriendsList">
  <div class="header">
    <img src="/images/typezy_white_flat.png" alt="Typezy Logo">
    <h3>Tap on a user to start</h3>
  </div>
  <div class="flex-container-list">
    {{#if isGeolocLoading}}
      <div class="item">
        Finding Typezyiers...
      </div>
    {{else}}
      {{#each nearbyUsers}}
        <div class="item-avatar">
          <img src="{{profile.avatar}}" alt="user">
          <div>
            {{profile.name}}
          </div>
        </div>
      {{else}}
        <div class="item">
          No nearby users were found :/
        </div>
      {{/each}}
    {{/if}}
  </div>
</template>