<template name="Shots">
  <article class="shots">
  <svg xmlns="http://www.w3.org/2000/svg">
    <path fill="none" stroke="#FFFFFF" stroke-width="5" stroke-miterlimit="10" d="M284.2,220.8c0-9.1,117.7-9.1,117.7,0
      l-19.5,182.8c0,0-22.9,7-40.6,7c-17.7,0-39.1-7-39.1-7L284.2,220.8"/>

    <path fill="none" stroke="#FFFFFF" stroke-width="3" stroke-miterlimit="10" d="M316.7,447.9c0-1.6,24.1-1.6,24.1,0l-4,32.6
      c0,0-4.7,1.2-8.3,1.2c-3.6,0-8-1.2-8-1.2L316.7,447.9"/>
  </svg>
  </article>
</template>

