/**
 * App styles
**/

html
  height 100%
  margin 15px

body, #__blaze-root
  height 100%
  width 100%
  padding 0
  margin 0
  background-color #535453
  font-family 'Helvetica Neue' Helvetica Arial 'Lucida Grande' sans-serif
  color #ffffff

.text-center
  text-align center
