<template name="Shots">
  <article class="shots">
  <div class="shot right-space oponent">
    {{> ShotSvg}}
    <p class="text-center">Opponent</p>
   <!--  <div class="points">
      <div class="point">
        {{> ShotSvg}}
      </div>
      <div class="point">
        {{> ShotSvg}}
      </div>
      <div class="point">
        {{> ShotSvg}}
      </div>
    </div> -->
  </div>
  <div class="shot left-space you">
    {{> ShotSvg}}
    <p class="text-center">You</p>
    <!-- <div class="points">
      <div class="point">
        {{> ShotSvg}}
      </div>
      <div class="point">
        {{> ShotSvg}}
      </div>
      <div class="point">
        {{> ShotSvg}}
      </div>
    </div> -->
  </div>
  </article>
</template>

