<template name="Shots">
  <article class="shots">
  <div class="shot right-space oponent">
    {{> ShotSvg}}
    <p class="text-center">Guilherme</p>
    <div class="points">
      <div class="point">
        {{> ShotSvg}}
      </div>
      <div class="point">
        {{> ShotSvg}}
      </div>
      <div class="point">
        {{> ShotSvg}}
      </div>
    </div>
  </div>
  <div class="shot left-space you">
    {{> ShotSvg}}
    <p class="text-center">Gabriel</p>
    <div class="points">
      <div class="point">
        {{> ShotSvg}}
      </div>
      <div class="point">
        {{> ShotSvg}}
      </div>
      <div class="point">
        {{> ShotSvg}}
      </div>
    </div>
  </div>
  </article>
</template>

