<template name="Sign">
   <div class="sign-in-container">
      <div class="sign-content">
        <div class="logo-container">
           <img class="logo" src="/images/typezy_grey_flat.png" alt="Logo">
        </div>

        <div class="login-buttons">
          <div class="button-wrapper">
            <i class="fa fa-facebook"></i>
            <a href="#" class="button button-login button-facebook">
              Sign in with Facebook
            </a>
          </div>
        </div>
      </div>
   </div>
</template>