/**
 * App styles
**/

html
  height 100%

body, #__blaze-root
  height 100%
  width 100%
  padding 0
  margin 0
  background-color #535453
  font-family 'Helvetica Neue' Helvetica Arial 'Lucida Grande' sans-serif
  color #ffffff
  
#__blaze-root
  position relative
  overflow-y scroll

.text-center
  text-align center

.flex-container
  display flex
  width 100%
  justify-content center
  align-items center

.flex-container-col
  flex-direction column

.flex-container-justify-top
  justify-content flex-start

.flex-container-list
  display flex
  width 100%
  flex-direction column
  justify-content flex-start
  align-items flex-start

  .item
    padding 20px
    max-width 100%
    font-size 2rem
    border-bottom: 1px #333 solid

  .item:not(:first-child)
    margin-top 1px

.button-action
  background-color #535453
  color #ffffff
  border 3px solid #ffffff
  font-size 1.2rem
